@import "tailwindcss";

@font-face {
  font-family: "Rebound Regular";
  src: url("/fonts/rebound-regular.woff2");
}

@font-face {
  font-family: "Rebound Bold";
  font-weight: bold;
  src: url("/fonts/rebound-regular.woff2");
}

@font-face {
  font-family: "Greit Regular";
  src: url("/fonts/greit-regular.woff2");
}

@font-face {
  font-family: "Greit Bold";
  font-weight: bold;
  src: url("/fonts/greit-regular.woff2");
}

@theme {
  --font-sans: "Greit Regular", sans-serif;
  --font-sans-bold: "Greit Bold", sans-serif;
  --font-rebound: "Rebound Regular", sans-serif;
  --font-rebound-bold: "Rebound Bold";
  --color-primary: #151581;

}


body{
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Greit Regular", sans-serif;
  background-color: #F8F8F8;
}

button{
  @apply cursor-pointer focus:outline-none focus:border-blue-700 focus:border-2;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.download-btn {
  @apply md:rounded-2xl rounded-xl  md:px-5 md:py-2 px-3 py-2 bg-primary text-white drop-shadow-xl hover:opacity-75 z-20  justify-center items-center gap-2;
  img {
    @apply md:w-5 md:h-5 w-4 h-4 invert;
  }
}

@layer components{
  nav{
    @apply flex justify-center md:justify-between items-center max-w-300 w-full z-60;

  }

  .top{
    @apply flex w-full justify-center md:mt-18;
    .award{
      @apply flex justify-center items-center gap-2 rounded-2xl drop-shadow-gray-300 drop-shadow-md bg-white px-2 py-1 hover:opacity-75 md:text-sm text-xs;
      img{
        @apply w-6 h-6;
      }
    }
  }

  .girl{
    @apply w-full h-140 md:h-220 lg:h-full relative  md:mt-0 ;
    video{
      @apply w-full h-full object-cover object-center ;
    }
    .screen{
      @apply w-64 md:w-90 absolute top-12  -translate-x-1/2 left-1/2;

      .screen-inner{
        @apply w-full h-full text-center z-40 absolute top-0 py-14 md:py-17 ;
      }
      .screen-inner-3{
        @apply w-full h-full text-center z-40 absolute top-0 py-14 md:py-17  flex flex-col justify-between;
      }

      .scan{
        @apply w-full h-1 -rotate-2 bg-radial from-white to-transparent;
      }
    }
    
  }

  .text{
    @apply flex flex-col w-full items-center;
    .animate-me {
      @apply text-primary md:text-4xl text-2xl font-rebound  p-2 text-left perspective-normal;
  }
  }
  .mobile{
    @apply md:mt-20 relative;
    video, img{
      @apply md:w-65 w-35;
    }
    video{
      @apply z-10 bg-transparent;
    }
    img{
      @apply absolute z-0 ;
    }
  }
  
  .questions{
    @apply space-y-3;
    p{
      @apply md:text-2xl text-lg text-primary border-b pb-4 border-b-primary/35 ;
    }
  }
}

.blur{
  @apply  backdrop-blur-sm w-full h-7 fixed top-0 z-10;
}


.overlay{
  @apply pointer-events-none absolute inset-0;
  background: linear-gradient(
    to top,
    rgba(255,255,255,1) 5%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255,255,255,0) 70%
  );
}

